/*Establish baseline for all measurements*/
html {
  font-size: 16px;
}

/*Create Body*/
html {
  background-color: var(--color-far-background);
  padding: $spacer-1;
}

body {
  border-radius: $spacer-4;
  padding: $spacer-4;
}
