/*Establish baseline for all measurements*/
html {
  font-size: 16px;
}

/*Create Body*/
html {
  background-color: var(--colorFarBackground);
  padding: var(--spacer1);
}

body {
  border-radius: var(--spacer4);
  padding: var(--spacer5);
}
