/////////////////////////////////
// Main Colors
/////////////////////////////////
:root {
  /* Base Colors */
  --colorWhite: hsl(190, 17%, 93%);
  --colorOffWhite: hsl(190, 11%, 90%);

  --colorBlack: hsl(223, 10%, 13%);
  --colorOffBlack: hsl(223, 10%, 16%);

  --colorGray: hsl(224, 11%, 27%);
  --colorGrayLight: hsl(224, 5%, 45%);
  --colorGrayXlight: hsl(190, 5%, 79%);

  /* Primary Colors */
  --colorPurple: hsl(260, 40%, 26%);
  --colorPurple--night: hsl(260, 39%, 34%);
  --colorPurpleGlow--night: hsl(260, 80%, 50%);
  --colorPink: hsl(355, 87%, 66%);
  --colorPink--night: hsl(355, 92%, 66%);
  --colorPinkGlow--night: hsl(355, 87%, 62%);

  /////////////////////////////////
  // Color Usage
  /////////////////////////////////

  /* Backgrounds */
  --colorFarBackground: var(--colorBlack);
  --colorBackground: var(--colorWhite);
  --colorBackground--night: var(--colorOffBlack);

  /* Text */
  --colorTextMain: var(--colorBlack);
  --colorTextMain--night: var(--colorWhite);

  /* Buttons */
  --colorButtonMainBg: var(--colorBlack);
  --colorButtonMainBg--night: var(--colorBlack);
  --colorButtonMainText: var(--colorWhite);
  --colorButtonMainText--night: var(--colorWhite);

  /* Cards */
  --colorCardBg: var(--colorOffWhite);
  --colorCardBg--night: var(--colorBlack);

  /* Tag Pills */
  --colorTagPillsBg: var(--colorBlack);
  --colorTagPillsBg--night: var(--colorGray);
  --colorTagPillsText: var(--colorWhite);
  --colorTagPillsText--night: var(--colorWhite);

  /* Forms */
  --colorFormFieldStroke: var(--colorGrayXlight);
  --colorFormFieldStroke--night: var(--colorGrayLight);
  --colorFormLabels: var(--colorGray);
  --colorFormLabels--night: var(--colorGrayXlight);
  --colorFormValues: var(--colorBlack);
  --colorFormValues--night: var(--colorWhite);

  /* Social Icons */
  --colorSocialIcons: var(--colorGrayLight);

  /* Footer Text */
  --colorFooterText: var(--colorGrayLight);

  /* Brand Colors */
  --colorBrandPrimary: var(--colorPink);
  --colorBrandPrimary--night: var(--colorPink--night);
  --colorBrandPrimary--glow: var(--colorPinkGlow--night);
  --colorBrandSecondary: var(--colorPurple);
  --colorBrandSecondary--night: var(--colorPurple--night);
  --colorBrandSecondary--glow: var(--colorPurpleGlow--night);
}

body {
  background-color: var(--colorBackground);
  color: var(--colorTextMain);
  // @include night-mode {
  //   background-color: var(--colorBackground--night);
  //   color: var(--colorTextMain--night);
  // }
}
