/* Base Colors */
$color-white: hsl(190,17%,93%);
$color-off-white: hsl(190,11%,90%);

$color-black: hsl(223,10%,13%);
$color-off-black: hsl(223,10%,16%);

$color-gray: hsl(224,11%,27%);
$color-gray-light: hsl(224,5%,45%);
$color-gray-xlight: hsl(190,5%,79%);

/* Primary Colors */
$color-purple: hsl(260,40%,26%);
$color-purple--night: hsl(260,39%,34%);
$color-purple-glow--night: hsl(260,80%,50%);
$color-pink: hsl(355,87%,66%);
$color-pink--night: hsl(355,92%,66%);
$color-pink-glow--night: hsl(355,87%,62%);

/* Backgrounds */
$color-far-background: $color-black;
$color-background: $color-white;
$color-background--night: $color-off-black;

/* Text */
$color-text-main: $color-white;
$color-text-main--night: $color-black;

/* Buttons */
$color-button-main-bg: $color-black;
$color-button-main-bg--night: $color-black;
$color-button-main-text: $color-white;
$color-button-main-text--night: $color-white;

/* Cards */
$color-card-bg: $color-off-white;
$color-card-bg--night: $color-black;

/* Tag Pills */
$color-tag-pills-bg: $color-black;
$color-tag-pills-bg--night: $color-gray;
$color-tag-pills-text: $color-white;
$color-tag-pills-text--night: $color-white;

/* Forms */
$color-form-field-stroke: $color-gray-xlight;
$color-form-field-stroke--night: $color-gray-light;
$color-form-labels: $color-gray;
$color-form-labels--night: $color-gray-xlight;
$color-form-values: $color-black;
$color-form-values--night: $color-white;

/* Social Icons */
$color-social-icons: $color-gray-light;

/* Footer Text */
$color-footer-text: $color-gray-light;

/* Brand Colors */
$color-brand-primary: $color-pink;
$color-brand-primary--night: $color-pink--night;
$color-brand-primary--glow: $color-pink-glow--night;
$color-brand-secondary: $color-purple;
$color-brand-secondary--night: $color-purple--night;
$color-brand-secondary--glow: $color-purple-glow--night;




body {
  background-color: $color-background;
  // @media (prefers-color-scheme: dark) {
  //   background-color: $background-night;
  // }
}