.contact-form__field {
  position: relative;
  z-index: 0;
  background-color: var(--colorBackground);
  border: 2px solid var(--colorFormFieldStroke);
  border-radius: var(--radiusBase);
  padding: var(--spacer2) var(--spacer3);
  margin-bottom: var(--spacer5);
  input,
  textarea {
    @include uiFont(3);
    background-color: var(--colorBackground);
    outline: 0;
    border: 0;
    color: var(--colorFormValues);
    border-radius: var(--radiusBase);
    width: 100%;
    padding: var(--spacer2) var(--spacer4);
    position: relative;
    z-index: 2;
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 60px var(--colorFormAutofillBg) inset !important;
      background-clip: content-box !important;
      background-color: var(--colorFormAutofillBg) !important;
      -webkit-text-fill-color: var(--colorFormValues) !important;
    }
  }
  label {
    position: absolute;
    top: -1.1rem;
    left: 0;
    background-color: var(--colorBackground);
    margin-left: var(--spacer3);
    font-size: 0;
    color: var(--colorFormLabels);
    padding: var(--spacer2);
    z-index: 1;
  }
}
.contract-form__field-label {
  @include uiFont(2);
  font-weight: var(--fontWeightBlack);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  display: inline-block;
  z-index: 1;
}
.contact-form__field--message {
  textarea {
    resize: none;
    line-height: var(--bodyLineHeight);
  }
  margin-bottom: var(--spacer7);
}
.contact-form__submit {
  text-align: center;
  @include screen-lg {
    text-align: left;
  }
}
