.content-body {
  padding-top: var(--spacer9);
  padding-bottom: var(--spacer9);
  @include screen-md {
    padding-top: var(--spacer10);
    padding-bottom: var(--spacer9);
  }
  @include screen-lg {
    padding-top: var(--spacer11);
    padding-bottom: var(--spacer9);
  }
}
