@mixin night-mode {
  @media (prefers-color-scheme: dark) {
    @content;
  }
  &--night {
    @content;
  }
}

.site-wrapper {
  @include night-mode {
    --colorBackground: var(--colorBackground--night);

    /* Text */
    --colorTextMain: var(--colorTextMain--night);

    /* Links */
    --colorLinkDefault: var(--colorLinkDefault--night);

    /* Headline Accent */
    --colorHeadlineAccent: var(--colorHeadlineAccent--night);

    /* Main nav button */
    --colorNavToggleInactive: var(--colorNavToggleInactive--night);

    /* Nav Modal */
    --shadowBoxNav: var(--shadowBoxNav--night);

    --shadowBoxCard: var(--shadowBoxCard--night);

    /* Portfolio Cards */
    --colorCardBg: var(--colorCardBg--night);
    --colorCardClient: var(--colorCardClient--night);
    --colorTagPillsBg: var(--colorTagPillsBg--night);

    /* Form */
    --colorFormFieldStroke: var(--colorFormFieldStroke--night);
    --colorFormLabels: var(--colorFormLabels--night);
    --colorFormValues: var(--colorFormValues--night);

    // Add a text shadow to large breakpoint in intro header
    // The colors here are manual to manage the alpha channel
    .intro-content {
      h1,
      h2,
      h3,
      p {
        @include screen-lg {
          text-shadow: 1px 0px 2px hsla(223, 10%, 13%, 1%);
        }
        @include screen-xl {
          text-shadow: none;
        }
      }
    }
  }
}
