@mixin default-section-padding {
  padding: var(--spacer7) var(--spacer4);
  @include screen-sm {
    padding: var(--spacer9) var(--spacer4);
  }
  @include screen-md {
    padding: var(--spacer9) var(--spacer7);
  }
  @include screen-lg {
    padding: var(--spacer10) var(--spacer8);
  }
  @include screen-xl {
    padding: var(--spacer11) var(--spacer8);
  }
}

.section {
  position: relative;
  @include default-section-padding;
}
.section__headline {
  text-align: center;
  font-size: 0;
  position: relative;
  z-index: 0;
  margin-bottom: var(--spacer6);
  @include screen-sm {
    margin-bottom: var(--spacer7);
  }
  @include screen-lg {
    margin-bottom: var(--spacer5);
  }
  &:after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--colorTextMain);
    top: 50%;
    position: absolute;
    z-index: -1;
  }
  @include screen-lg {
    display: inline-block;
    padding-bottom: var(--spacer3);
    &:after {
      position: relative;
      height: 3px;
      border-radius: 2px;
      background-color: var(--colorGray);
    }
    text-align: left;
  }
}
.section__headline-content {
  display: inline-block;
  text-transform: uppercase;
  background-color: var(--colorBackground);
  margin: auto;
  padding-left: var(--spacer4);
  padding-right: var(--spacer4);
  @include uiFont(4);
  font-weight: var(--fontWeightBold);
  @include screen-lg {
    @include titleFont(6);
    font-weight: var(--fontWeightBold);
    padding-left: 0;
    padding-right: 0;
    padding-bottom: var(--spacer5);
    text-transform: none;
    letter-spacing: 0;
  }
  @include screen-xl {
    // @include uiFont(6);
    font-weight: var(--fontWeightBold);
  }
}

/*INTRO SECTION*/
.section--intro {
  margin-bottom: 0;
  padding-bottom: 0;
  min-height: calc(100vh - var(--spacer9));
  position: relative;
  z-index: 0;
  //Override to help readability on small devices
  @media (max-width: 592px) {
    padding-left: 0;
    padding-right: 0;
  }
  &:after {
    content: '';
    position: absolute;
    // height: 170%;
    height: 0;
    padding-top: 100%;
    top: calc(var(--spacer11) * -1);
    border-radius: var(--radiusBase);
    width: 100%;
    z-index: -1;
    @include screen-lg {
      background-image: url(../../images/hero-bg.svg), url(../../images/hero-bg-2.svg);
      background-repeat: no-repeat;
      background-position: right 8% top 100%, right -7% top -10%;
      background-size: 65% 65%, 65% 65%;
      background-blend-mode: multiply;
    }
    @include screen-xl {
      height: 160%;
      background-position: right 5% top 70%, right -15% top -10%;
      background-size: 61% 61%, 61% 61%;
    }
  }
  @include screen-sm {
    padding-top: var(--spacer10);
  }
  @include screen-md {
    padding-top: var(--spacer12);
    min-height: calc(100vh - var(--spacer11));
  }
  @include screen-lg {
    padding-top: var(--spacer11);
    min-height: auto;
    margin-bottom: var(--spacer13);
  }
  @include screen-xl {
    padding-top: var(--spacer12);
  }
}
.intro-content {
  @include screen-lg {
    max-width: 32rem;
  }
}

/*PORTFOLIO SECTION*/
.section--portfolio {
  z-index: 1;
  padding-top: var(--spacer10);
  @include screen-lg {
    margin-top: var(--spacer8);
  }
}

/* CONTACT */
.section--contact {
  padding-top: var(--spacer10);
  @include screen-xl {
    padding-top: var(--spacer11);
  }
  position: relative;
  z-index: 0;
  &:after {
    content: '';
    position: absolute;
    height: 0;
    padding-top: 100%;
    bottom: calc(var(--spacer9) * -1);
    border-radius: var(--radiusBase);
    width: 100%;
    z-index: -1;
    display: none;
    @include screen-lg {
      display: block;
      background-image: url(../../images/footer-bg.svg), url(../../images/footer-bg-2.svg);
      background-repeat: no-repeat;
      // background-position: right -35% bottom 80%, right 10% bottom -70%;
      background-position: right 25% top 160%, right -35% top 15%;
      background-size: 65% 65%, 70% 70%;
      background-blend-mode: multiply;
    }
    @include screen-xl {
      padding-top: 100%;
      background-position: right 25% top 175%, right -8% top 70%;
      background-size: 60% 60%, 60% 60%;
    }
  }
}
