:root {
  --shadowBoxUpLight: rgba(0, 0, 0, 0.1) 0px -2px 8px 0, rgba(0, 0, 0, 0.1) 0px 2px 10px 0,
    rgba(0, 0, 0, 0.1) 0px 6px 14px 0, rgba(0, 0, 0, 0.1) 0px 14px 16px 0;
  --shadowBoxUpDark: rgba(0, 0, 0, 0.18) 0px -2px 12px 0, rgba(0, 0, 0, 0.18) 0px 0px 16px 0,
    rgba(0, 0, 0, 0.18) 0px 2px 20px 0, rgba(0, 0, 0, 0.18) 0px 4px 24px 0;
  --shadowBoxNav: rgba(0, 0, 0, 0.12) 0px 2px 2px 0, rgba(0, 0, 0, 0.12) 0px 4px 4px 0,
    rgba(0, 0, 0, 0.12) 0px 8px 8px 0, rgba(0, 0, 0, 0.12) 0px 16px 16px 0;
  --shadowBoxMain: rgba(0, 0, 0, 0.22) 0px 2px 2px 0, rgba(0, 0, 0, 0.22) 0px 4px 4px 0,
    rgba(0, 0, 0, 0.22) 0px 8px 8px 0, rgba(0, 0, 0, 0.22) 0px 16px 16px 0;
  --shadowInset: rgba(30, 32, 37, 0.75) 0px 5px 40px 0, rgba(0, 0, 0, 0.5) 0px 5px 30px 0;
}
