/////////////////////////////////
// Spacing Values
/////////////////////////////////
:root {
  --spacer1: calc(1rem * 0.25);
  --spacer2: calc(1rem * 0.5);
  --spacer3: calc(1rem * 0.75);
  --spacer4: calc(1rem);
  --spacer5: calc(1rem * 1.5);
  --spacer6: calc(1rem * 2);
  --spacer7: calc(1rem * 2.5);
  --spacer8: calc(1rem * 3.5);
  --spacer9: calc(1rem * 4.5);
  --spacer10: calc(1rem * 5.5);
  --spacer11: calc(1rem * 7.5);
  --spacer12: calc(1rem * 9.5);
  --spacer13: calc(1rem * 11.5);

  --paddingGlobalWrap: var(--spacer2);
  --paddingSectionWrap: var(--spacer5);
  --paddingTotalWrap: calc(var(--paddingGlobalWrap) + var(--paddingSectionWrap));

  --globalMaxWidth: 1440px;

  //Media Queries
  @include screen-md {
    --paddingGlobalWrap: var(--spacer6);
    --paddingSectionWrap: var(--spacer7);
  }
  @include screen-lg {
    --paddingSectionWrap: var(--spacer8);
  }
}
