/////////////////////////////////
// Spacing Values
/////////////////////////////////
// $spacer-0: 1rem * 0.125; //Must always correspond to another instance of this size to balance the grid. For for shimming small UI elements only.
$spacer-1: 1rem * 0.25; //4px
$spacer-2: 1rem * 0.5; //8px
$spacer-3: 1rem * 0.75; //12px
$spacer-4: 1rem; //16px
$spacer-5: 1rem * 1.5rem; //24px
$spacer-6: 1rem * 2rem; //32px
$spacer-7: 1rem * 2.5rem; //40px
$spacer-8: 1rem * 3.5rem; //56px
$spacer-9: 1rem * 4.5rem; //72px
$spacer-10: 1rem * 5.5rem; //88px
$spacer-11: 1rem * 7.5rem; //120px
$spacer-12: 1rem * 9.5rem; //152px
$spacer-13: 1rem * 11.5rem; //184px

/* Spacer Key */
//002 ==
//004 ====
//008 ========
//012 ============
//016 ================
//024 ========================
//032 ================================
//040 ========================================
//056 ========================================================
//072 ========================================================================
//088 ========================================================================================
//120 ========================================================================================================================
//152 ========================================================================================================================================================
//184 ========================================================================================================================================================================================