:root {
  // Font Weights
  --fontWeightNormal: 400;
  --fontWeightBold: 700;
  --fontWeightBlack: 900;

  ////////////////////////
  // Settings
  ////////////////////////

  // Font Family
  --fontFamilyMain: 'sofia-pro', Helvetica, sans-serif;

  // Font Size
  --fontSizeBase: 1.125rem;
  --fontSizeRatio: 1.25;

  // Line Heights
  --bodyLineHeight: 1.75;
  --titleLineHeight: 1.25;
  --uiLineHeight: 1;

  // UI Line Height Normalize
  // This is a bottom padding that can be tweaked on a font by font basis to better optically center capitalized UI copy within a line height
  --uiFontUpperNormalize: 0.13em;

  ////////////////////////
  // Create Font Sizes
  ////////////////////////

  // Create Font Sizes
  $font-sizes: 11; //How many font sizes to produce
  $base-font-position: 3; //Position that should be the base font size. This is useful for creating sizes below the base size.

  // Create Base Font Size
  --fontSize#{$base-font-position}: var(--fontSizeBase);

  // Generate font size variables ( 'fontSize1, fontSize2, etc.' )
  $font-size-start: $base-font-position + 1;
  @for $i from $font-size-start through $font-sizes {
    --fontSize#{$i}: calc(var(--fontSize#{$i - 1}) * var(--fontSizeRatio));
  }

  // Create font size below the base font size
  $base-font-position-loop: $base-font-position;
  @while $base-font-position > 1 {
    --fontSize#{$base-font-position - 1}: calc(
      var(--fontSize#{$base-font-position}) / var(--fontSizeRatio)
    );
    $base-font-position-loop: $base-font-position-loop - 1;
  }

  // Create Body Fonts
  @for $i from 1 through $font-sizes {
    --bodyFont#{$i}: --fontWeightNormal var(--fontSize#{$i}) / var(--bodyLineHeight);
  }

  // Create Title Fonts
  @for $i from 1 through $font-sizes {
    --titleFont#{$i}: var(--fontSize#{$i}) / var(--titleLineHeight);
  }

  // Create UI Fonts
  @for $i from 1 through $font-sizes {
    --uiFont#{$i}: var(--fontSize#{$i}) / var(--uiLineHeight);
  }
}

////////////////////////
// Mixins to Use Font Sizes
////////////////////////

// Create a title font of a specific size
@mixin bodyFont($size) {
  font: var(--bodyFont#{$size});
}

@mixin titleFont($size) {
  font: var(--titleFont#{$size});
}

// Create a ui font of a specific size
@mixin uiFont($size) {
  font: var(--uiFont#{$size});
}

// Create an uppercase ui font of a specific size
@mixin uiFontUpper($size) {
  font: var(--uiFont#{$size});
  padding-bottom: var(--uiUppercaseFontNormalize);
  text-transform: uppercase;
}

// Set global body font
body {
  @include bodyFont($base-font-position);
}
